streamlit==1.46.1
fastapi==0.116.1
uvicorn==0.35.0
sqlalchemy==2.0.43
psycopg2-binary==2.9.10

google-generativeai==0.8.5

python-dotenv==1.1.1
requests==2.32.4
pandas==2.3.1

passlib[bcrypt]==1.7.4
python-jose==3.5.0

reportlab==4.4.3

plotly==6.2.0

duckduckgo-search==8.1.1

langchain==0.3.27

beautifulsoup4==4.13.4
lxml==6.0.0

python-pptx==1.0.2

google-genai